.signaturepad {
    background-color: #ededed;
    border-radius: 5px;
    height: 200px;
    width: 200px;

    @media (min-width: 480px) {
        width: 300px;
    }

    @media (min-width: 1050px) {
        width: 400px;
    }
}